body {
  background-color: #B2F8FF;
  margin: 0px;
	height: 80vh;
  text-align: center;
  background-size: cover;
  border-color: #B2F8FF;
font-family: 'Quicksand', sans-serif;
  font-size: 4vw
}

.display {
	height: 30vh;
	width: 100%;
	color: black;
	background-color: #FFFFFF;
	font-size: 8vw;
	text-align: right;
	border: 8px solid #409EFF;
	padding: 0px;
	font-family: cursive;
}

.button {
	height: 60px;
	border: none;
	cursor: pointer;
	border-top: 4px solid transparent;
	border-radius: 15px;
  font-style: italic;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
table{
  background-color:#FFFFFF;
  border: 8px solid #60B4FF;
  width:100%;
  max-width: 600px;
  margin: 0 auto;
}
.button.function {

}

/*
content editable
input type text
 */

td {
  padding: 0;
  margin: 0;
  border: 1px solid black;
  width: 32px;
  height: 32px;
}

td:nth-child(3),
td:nth-child(6) {
  border-right: 4px solid black;
}

tr:nth-child(3) td,
tr:nth-child(6) td {
  border-bottom: 4px solid black;
}


/* =================================
Device width:
    <-- 320px
==================================== */
@media (max-width: 320px) {
}
/* =================================
Device width:
    768px -->   <-- 1024px
==================================== */
@media (min-width: 768px) {
}
/* =================================
Device width:
    1024px -->
==================================== */
@media (min-width: 1024px) {
}
